<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "ハムスターの食について", genres_food_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "ハムスターの種類について", genres_humtype_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "ハムスターのお家について", genres_house_path %>
    </div>
  </div>
</div>
