<div class="container">
  <div class="row">
    <h3 class="my-4"><%= @genre.name %>Q&A</h3>
    <div class="col-5 mt-5">
      <!--コメント投稿機能は別に作る-->
      <!--<%#= form_with model: @food, _path, local:true do |f| %>-->
      <!--<h4>メッセージ</h4>-->
      <!--<%#= f.text_area :content %>-->
      <!--<%#= f.submit '投稿' %>-->
      <!--<%# end %>-->
    </div>
  </div>
  <!--<div class="row">-->
  <!--  <div class="col">-->
  <!--    <p>コメント件数：<%#= @genre.hum_comments.count %></p>-->
  <!--    <%# @genre.comments.each do |comment| %>-->
  <!--      <%#= hum_comment.user.name %>-->
  <!--      <%#= hum_comment.created_at.strftime('%Y/%m/%d') %><%#= hum_comment.comment %>-->
  <!--    <%# end %>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--    <%#= form_with(model:[@genre, @comment], local: true) do |f| %>-->
  <!--      <%#= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>-->
  <!--      <%#= f.submit "送信する" %>-->
  <!--    <%# end %>-->
  <!--  </div>-->
  <!--</div>-->
</div>>