<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @user.name %>さんのページ</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>登録情報</h3>
      <p>
        ニックネーム:<%= @user.name %>
      </p>
    </div>
  </div>
  <!--<div class="row">-->
  <!--  <div class="col">-->
  <!--    <h3>登録したハムちゃん一覧</h3>-->
  <!--    <%# @hums.each do |hum| %>-->
  <!--      <%#= hum.name %>-->
  <!--      <%#= hum.breed %>-->
  <!--      <%#= hum.age %>-->
  <!--      <%#= hum.character %>-->
  <!--      <%#= hum.gender %>-->
  <!--    <%# end %>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="row">
    <div class="col">
      <%= link_to "ハムちゃん追加", new_hum_path %>
    </div>
  </div>
</div>
