<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>HumHum</h1>
      <h3>
        ハムスターの情報を共有するサイトです！
      </h3>
    </div>
    <div class="col-md-4">
      <h3>写真</h3>
    </div>
  </div>
</div>