 <table >
    <% comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </td>
      </tr>
      <tr>
        <td>
          <div class="box1">
            <h3><%= comment.user.name %></h3>
            <h4>
              <%= comment.comment_content %>
            </h4>
          </div>
        </td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除", user_anime_comment_path(comment.anime, comment) , method: :delete, remote: true, :class => "btn btn-outline-danger btn-sm", data: {confirm: "削除しますか？"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>